@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Open+Sans:wght@300&family=Parisienne&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #27110f;
  margin: 0;
  font-family: "Fredoka", sans-serif;
}

.App {
  text-align: center;
}
