@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Open+Sans:wght@300&family=Pacifico&family=Parisienne&family=Sansita+Swashed:wght@300&display=swap');

body {
  background-color: #313131;
  margin: 0;
}

.App {
  text-align: center;
}
